body {
    margin: 0;
    background-color: darkslategray;
    text-align: center;
    color: white;
}

header {
    display: flex;
    background: linear-gradient(to right, red, white);
    flex-direction: row;
    height: 150px;
    align-items: center;

}

.Header-Container-Brandy {
    display: flex;
    float: left;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.Header-Container-Link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 4;
    text-align: center;
}

.Link-Box {
    width: 17%;
    margin: 5px;
    flex-wrap: wrap;
}

.Link-Box a {
    text-decoration: none;
    color: black
}

.Link-Box:hover {
    background-color: red;
    transition: background-color .5s;
}

/* 

*/